@import "home";

$boxsize: 150px;
$boxwidth: $boxsize;
$boxheight: $boxsize;

/** {*/
  /*margin: 0;*/
  /*padding: 0;*/
/*}*/

body {
  //padding: 10px;
  font-family: Arial, sans-serif;
  //height: 100%;
}

/*h1, h2, h3, p {*/
  /*margin: 0 0 1em;*/
/*}*/

.wrap:after {
  content: "";
  display: block;
  clear: both;
}

.fixed-size-square {
  float: left;
  display: table;
  margin: 10px;
  background: #4679bd;
  width: $boxwidth;
  height: $boxheight;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.fixed-size-square span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: white;
}

.logo {
  width: 80px;
  height: 80px;
}

.wrap_user_name {
  display: inline;
  padding: 30px;
}

.net_amount {
  text-align: center;
  font-size: 60px;
}

.positive {
  @extend .net_amount;
  color: green;
}

.negative {
  @extend .net_amount;
  color: red;
}
