<div class='home_rect_box'>
    <p>SIGNUP</p>
</div>
<div class='home_rect_box'>
    <p>LOGIN</p>
</div>
<div class='home_rect_box'>
  <div class="box">
    <p>?</p>
  </div>
  <div class="box">
    <p>YEAH</p>
  </div>
</div>
