{{#link-to 'home'}}
<div class="top_layer">
  SIGNUP
</div>
{{/link-to}}
{{#link-to 'users'}}
<div class="middle_layer">LOG IN</div>
{{/link-to}}
<div class="bottom_layer">
  <div>?</div>
  <div>RECOVER</div>
</div>
