<div class="well">
  <h1 style="text-align:center;">{{currentUser.name}}</h1>
  <div class="wrap wrap-defaults">
  {{#each user in model}}
    {{#link-to 'detail_user'}}
      {{ bill-box user=user }}
    {{/link-to}}
  {{/each}}
  </div>
</div>
